h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.bg_content {
    background-color: white;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 15px;
}

.container {
    max-width: 100%;
    /* border: red solid 1px; */
    padding: 0;
    margin-bottom: 0;
}

#border-marker-green {
    border: green solid 1px;
}

#border-marker-black {
    border: black solid 1px;
}

img {
    display: block;
}

.bg-dark-blue {
    background-color: rgba(90, 158, 187, 0.53);
    position: cover;
}

.align-center-content {
    text-align: center;
}

.lato-font {
    font-family: 'Lato Sans', sans-serif;
}

.josefin-font {
    font-family: 'Josefin Sans', sans-serif;
}