body {
    margin: 0;
    padding: 20px 30px;
    background-color: rgb(155,192,207);
}

.navbar {
    padding: 0;
}

.nav-item {
    padding: 0;
}

.navbar-brand {
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    padding: 0;
}

.navbar-nav {
    padding: 0;
}

#navbarNav{
    padding: 0
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    font-family: 'Lato Sans', sans-serif;
}

.nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #479BAD;
    width: 50%;
    margin: auto;
    margin-bottom: -3px;
    color: black;
}

.navbar-toogler {
    width: 1rem;
    height: 1.5rem;
    padding: 0.1rem;
}

/* //////////////////////////// */

#img1-sect1 {
    width: 216px;
    height: fit-content;
}

.center-content{
    text-align: center;
}

.row {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

#title-sect1 {
    font-size: 32px;
    font-size: 500;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

#p-sect1 {
    text-align: justify;
    font-family: 'Lato', sans-serif;
}

.col-center {
    text-align: center;
}

#img1-sect1 {
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

/* //////////////////////////////// */

@media (min-width: 576px) {

    body {
        padding: 40px 50px;
    }

    .navbar-brand {
        font-weight: 700;
        font-size: 48px;
        padding-left: 20px;
    }

    #title-sect1 {
        font-size: 48px;
        font-weight: 700;
    }

    #p-sect1 {
        font-size: medium;
    }

    #navbarNav {
        padding-right: 15%;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    #img1-sect1 {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        height: fit-content;
    }

    .button-wrapper {
        margin-right: 50%;
        text-align: center;
        margin-top: -10%;
    }

}